{% block content %}
{% if sessionintervenants %}
<table class="DashbordTable">
    <thead>
        <th>Num</th>
        <th>Nom </th>
        <th>prenom</th>
        <th>email</th>
        <th>Session</th>
        <th>Modifier</th>
        <th>Supprimer</th> 
    </thead>
    <tbody>
        {% for i in sessionintervenants %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ i.intervenant.name}}</td>
            <td>{{ i.intervenant.prenom }}</td>
            <td>{{ i.intervenant.email }}</td>
            <td>{{session.titre }}</td> 
            <td><a href="{% url 'modifierIntervenant' id=i.id %}" >Modifier</a></td>
            <td><a href="{% url 'suprimerIntervenant' id=i.id %}">Supprimer</a></td>
            
           
        </tr>
        {% endfor %}
    </tbody>
{% else %}
<div class="rien">
    <h1>Pas de intervenants à afficher</h1>
    
</div>
{% endif %}
{% endblock content %}
